version: "3.3"
services:
  traefik:
    image: traefik
    container_name: "traefik"
    command:
#      - "--log.level=DEBUG"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.network=traefik_default"
      - "--providers.docker.exposedbydefault=false"
      - "--pilot.token=${PILOT_TOKEN}"
      - "--experimental.plugins.plugin-simplecache.modulename=github.com/traefik/plugin-simplecache"
      - "--experimental.plugins.plugin-simplecache.version=v0.2.1"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.le.acme.email=ceo@igorvetrov.ru"
      - "--certificatesresolvers.le.acme.storage=/letsencrypt/acme.json"
      - "--certificatesresolvers.le.acme.tlschallenge=true"
#      - "--certificatesresolvers.le.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory"
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - "./letsencrypt:/letsencrypt"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    restart: "always"